/desarrollo/venv
/desarrollo/backend/backend/__pycache__
/desarrollo/.env
/desarrollo/backend/api/migrations/__pycache__
/desarrollo/backend/api/__pycache__
/desarrollo/backend/db.sqlite3
/desarrollo/backend/api/__pycache__
/desarrollo/backend/.env