# Ignorar el entorno virtual
/desarrollo/venv/

# Ignorar archivos de caché de Python
**/__pycache__/
/*.py[cod]

# Ignorar archivos de entorno
/desarrollo/.env
/desarrollo/backend/.env

desarrollo/.env
desarrollo/backend/.env

# Ignorar archivos de migración y bases de datos
/desarrollo/backend/api/migrations/
/desarrollo/backend/db.sqlite3
