# Ignorar el entorno virtual
/desarrollo/venv/

# Ignorar archivos de caché de Python
**/__pycache__/
/*.py[cod]

# Ignorar archivos de entorno
/desarrollo/.env
/desarrollo/backend/.env

desarrollo/.env
desarrollo/backend/.env

.env

# Ignorar archivos de migración y bases de datos
/desarrollo/backend/api/migrations/
/desarrollo/backend/db.sqlite3

/desarrollo/backend/api/__pycache__/

/desarrollo/backend/api/migrations/*
/desarrollo/backend/api/__pycache__/models.cpython-310.pyc
/desarrollo/backend/api/__pycache__/urls.cpython-310.pyc
/desarrollo/backend/api/__pycache__/views.cpython-310.pyc
/desarrollo/backend/backend/__pycache__/settings.cpython-310.pyc
/desarrollo/backend/backend/__pycache__/urls.cpython-310.pyc
