.sub-container {
    display: flex;
    padding: 15px;
    border-radius: 15px;
    background: #95ddf35e;
}

#pie-chart {
    width: 500px;
    height: 500px;
    margin-left: 180px;
}

.container-info {
    margin: auto 0;
}