

{% extends "authentication/base.html" %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}

{% block content %}

<div class="form-container sign-in">
    <form method="post">
    {% csrf_token %}    
      <h1>Iniciar sesión</h1>
      <div class="social-icons">
        <a href="#" class="icon"
          ><i class="fa-brands fa-google-plus-g"></i
        ></a>
        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
        <a href="#" class="icon"
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>
      </div>
      <span>or use your email password</span>
      <input type="email" id="email" name="email" placeholder="Correo electrónico"  required/>
      <input type="password" id="password" name="password" required placeholder="Contraseña"  />
      <button>Iniciar sesión</button>
    </form>
  </div>
  <div class="toggle-container">
    <div class="toggle">
        <div class="toggle-panel toggle-right">
        <h1> <img class="logo" src="{% static '/img/logo.png' %}" alt="Logo"></h1>
        <p>
            Register with your personal details to use all of site features
        </p>
        <a href="{% url 'signup' %}">
            <button class="hidden" id="register">Registrarse</button>
        </a>
        </div>
    </div>
    </div>
</div>

{% endblock %}
